.article-section {
    width: 100%;
}
.article-section .heading {
    padding: 10px 0px;
}
.article-section .add-article-btn {
    text-align: right;
    padding: 10px 0px;
}
.article-section .dropdown-item {
    padding: 5px 0px 5px 10px;
}
