.details-section {
    width: 100%;
}
.details-section .back-btn {
    text-align: right;
}
.details-section .details-body {
    padding-top: 20px;
}
.details-section .details-body ul li {
    padding: 5px 0px;
}
.details-section .details-body span {
    font-weight: 600;
}
.details-section .details-body .image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.details-section .details-body .image img {
    width: 100%;
    height: 100%;
}
