* {
    padding: 0;
    margin: 0;
}
.dashboard-section {
    width: 100%;
    padding: 20px 0px;
}
.font-14 {
    font-size: 14px;
}
.font-24 {
    font-size: 24px;
}
.font-35 {
    font-size: 35px;
}
.radius-15 {
    border-radius: 15px;
}
.bg-voilet {
    background-color: #7d00b5 !important;
}
.bg-primary-blue {
    background-color: #265ed7 !important;
}
.bg-rose {
    background-color: #ff007c !important;
}
.bg-sunset {
    background-color: #ff8b01 !important;
}
.progress-bar {
    background-color: #673ab7;
}
.bg-voilet {
    background-color: #7d00b5 !important;
}
.bg-red-light {
    background-color: #fe6555 !important;
}
.bg-sunset {
    background-color: #ff8b01 !important;
}
.bg-wall {
    background-color: #00cd98 !important;
}
.bg-dark {
    background-color: #343a40 !important;
}
.content-section .user-action ul {
    margin-bottom: 0px;
    padding-left: 0px;
}
.content-section .user-action ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 5px;
    font-size: 18px;
}
.content-section .user-action .fa-trash:hover {
    cursor: pointer;
    color: red;
    transition: 0.3s linear;
}
.content-section .user-action .fa-square-check:hover {
    cursor: pointer;
    color: green;
    transition: 0.3s linear;
}
.aticle-chart,
.pending-user,
.user-chart,
.country-chart {
    border: 1px solid #c9c9c9;
}
