* {
    margin: 0;
    padding: 0;
}
.forget-password-section {
    width: 100%;
    background-color: aqua;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forger-form {
    width: 100%;
    padding: 0px 20px 20px;
}
