* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    padding-left: 0;
}
ul li {
    list-style: none;
}
/* GLOBAL Pagination css code start */
.active > .page-link,
.page-link.active {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}
/* GLOBAL Pagination css code End */
.header-section {
    background-color: #ffffff;
    padding: 10px 0px 5px;
}
.header-section .header-logo img {
    width: 170px;
    object-fit: cover;
}
.header-section .header-content {
    display: flex;
    float: right;
}
.header-section .header-content .form-control:focus {
    border-color: #fd6930;
    box-shadow: 0 0 0 1px rgb(253, 105, 48);
}
.header-section .header-content .btn {
    border: 1px solid #dee2e6;
}
.content-section {
    width: 100%;
    position: relative;
}
.content-section .content-sidebar {
    background: #033144;
    color: #ffffff;
    position: fixed;
    height: 100%;
    width: 17%;
}
.content-section .content-sidebar .sideber-title h5 {
    padding: 15px 0px 15px 30px;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
}
.content-section .content-sidebar .sidebar-nav ul li {
    padding: 2px 0px;
}
.content-section .content-sidebar .sidebar-nav .nav-link {
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    padding: 7px 0px 7px 28px;
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s all ease;
}
.content-section .content-sidebar .sidebar-nav .nav-link:hover,
.content-section .content-sidebar .sidebar-nav .nav-link:focus {
    cursor: pointer;
    color: #ffffff;
    background: #ff003b;
    border-radius: 25px;
    padding-left: 50px;
}
.content-section .content-body {
    padding: 10px 10px 20px;
    background: #f1f1f1;
}

/* dropdown image css code here  */
.profile-dropdown .navbar-profile-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.profile-dropdown .dropdown-menu .profile-dropdown-info {
    display: flex;
    align-items: center;
    gap: 14px;
    text-decoration: none;
    color: #333;
    padding: 10px 0px 10px 30px;
    border-bottom: 1px solid #e9ecef;
    margin-bottom: 5px;
}
.profile-dropdown .dropdown-menu .profile-dropdown-info .dropdown-profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-dropdown .dropdown-menu .profile-dropdown-info .profile-name p {
    margin-bottom: 0px;
}
.profile-dropdown .dropdown-menu .dropdown-item {
    transition: 0.3s all ease;
}
.profile-dropdown .dropdown-menu .dropdown-item:hover {
    cursor: pointer;
    background-color: #dee2e6;
}
.profile-dropdown .dropdown-menu .profile-dropdown-list-item {
    padding: 10px 140px 10px 30px;
}
.profile-dropdown .dropdown-menu .profile-dropdown-list-item .item-icon {
    padding-right: 10px;
    font-size: 20px;
}
