* {
    padding: 0;
    margin: 0;
}
.new-pass-section {
    width: 100%;
    background-color: aqua;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-pass-form {
    width: 100%;
    padding: 20px 40px;
}
