.details-section {
    width: 100%;
}
.details-section .datails-body .details-topbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.details-section .datails-body .details-topbar .details-share ul li {
    display: inline;
}
.details-section .datails-body .details-topbar .details-share ul li a {
    padding: 6px 16px;
    background-color: #ff0000;
    border-radius: 4px;
    margin: 0px 5px;
    color: #ffffff;
    transition: all 0.3s ease;
}
.details-section .datails-body .details-topbar .details-share ul li a:hover {
    cursor: pointer;
    background-color: #0088ff;
    color: #ffffff;
}
.details-section .datails-body .details-img {
    width: 100%;
    height: 450px;
}
.details-section .datails-body .details-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details-section .comments-section {
    width: 100%;
    padding: 30px 0px;
}
.details-section .comments-section .comment-body {
    width: 100%;
    background-color: #c3cfcf38;
    padding: 30px;
    box-shadow: 0px 0px 14px 10px #d1dde1;
}
.details-section .comments-section .comment-body .btn {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 4px 12px;
    border-radius: 0;
    border: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 0 10px;
    transition: all 0.3s ease-in-out;
}
.details-section .comments-section .comment-body .btn:hover {
    color: #fff;
}
.details-section .comments-section .comment-body .btn:before {
    content: "";
    background: #ff1438;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    transition: all 0.5s;
    z-index: -1;
}
.details-section .comments-section .comment-body .btn:hover:before {
    left: 0;
    right: 0;
    opacity: 1;
}
.details-sidebar {
    border: 2px solid #fd6930;
    margin-bottom: 13px;
}
.details-sidebar .sidebar-heading h1 {
    color: black;
    font-size: 20px;
    background: red;
    padding: 6px 0px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
.details-sidebar .sidebar-body {
    padding: 0px 17px 5px;
    height: 412px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.details-section .reporter-details {
    border: 2px solid #fd6930;
    margin-bottom: 13px;
}
.details-section .reporter-details .details-body {
    padding: 0px 17px 10px;
}
.details-section .reporter-details .heading h5 {
    color: black;
    font-size: 20px;
    background: red;
    padding: 6px 0px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
.details-section .reporter-details .details-body .reporter-img {
    width: 150px;
    height: 150px;
    margin-left: 65px;
}
.details-section .reporter-details .details-body .reporter-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.details-section .reporter-details .details-body .reating ul li {
    display: inline-block;
}
.details-section .details-sidebar .sidebar-body .sidebar-news {
    height: 80px;
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
}
.details-section .details-sidebar .sidebar-body .sidebar-news .sidebar-img {
    width: 80px;
    height: 100%;
}
.details-section .details-sidebar .sidebar-body .sidebar-news .sidebar-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details-section .details-sidebar .sidebar-body .sidebar-news .sidebar-title {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.details-section
    .details-sidebar
    .sidebar-body
    .sidebar-news
    .sidebar-title
    h2 {
    font-size: 17px;
    font-weight: 600;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    line-height: 22px;
}
.details-section .details-sidebar .related-news {
    border-bottom: 1px solid #696969;
    width: 100%;
    height: 300px;
}
.details-section .related-news .content-img {
    width: 100%;
    height: 155px;
}
.details-section .related-news .content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.details-section .related-news .content-body {
    padding: 10px 10px 5px 10px;
    width: 100%;
    padding-bottom: 20px;
}
.details-section .related-news .content-body .title {
    font-size: 17px;
    font-weight: 600;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    margin-bottom: 10px;
}
.details-section .related-news .content-body .subtitle {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    font-size: 15px;
}
