* {
    padding: 0;
    margin: 0;
}
ul {
    margin-bottom: 0px;
    padding: 0;
}
ul li {
    list-style: none;
    text-decoration: none;
    display: inline-block;
}
a {
    text-decoration: none;
    color: black;
}
.navber-section {
    width: 100%;
    background: #efefef91;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0px;
    border-bottom: 1px solid #ef0303;
    margin-bottom: 10px;
}
.logo-section .header-logo {
    width: 100%;
}
.logo-section .header-logo img {
    object-fit: cover;
}
.menubar-section {
    background: #fff;
    border-bottom: 1px solid #ef0303;
    padding: 10px 0px;
}
.menubar-section .menu-item {
    font-size: 18px;
    font-weight: 500;
}
.menubar-section .menu-item ul li {
    margin: 0px 5px;
}
.content-section {
    padding: 15px 0px;
}
