.hero-section {
    width: 100%;
}
.hero-section .lead-news {
    position: relative;
    width: 100%;
}
.hero-section .lead-news .lead-news-img {
    height: 377px;
    width: 100%;
}
.hero-section .lead-news .lead-news-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.hero-section .lead-news .title {
    font-size: 30px;
    font-weight: bold;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin-bottom: 10px;
    overflow: hidden;
}
.hero-section .lead-news .subtitle {
    font-size: 16px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
.hero-section .lead-news .lead-news-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #eeeeee;
    background-image: linear-gradient(
        to bottom,
        transparent 0,
        rgba(0, 0, 0, 0.6) 50%,
        rgba(0, 0, 0, 0.9) 100%
    );
    padding: 30px 25px 35px 35px;
}
.hero-section .lead-news-sidebar {
    height: 126px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #696969;
}
.hero-section .lead-news-sidebar .sidebar-img {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
}
.hero-section .lead-news-sidebar .sidebar-img img {
    width: 100%;
    height: 85px;
    object-fit: cover;
}
.hero-section .lead-news-sidebar .sidebar-title {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.hero-section .lead-news-sidebar .sidebar-title h5 {
    font-size: 17px;
    line-height: 22px;
    font-weight: 600;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
.hero-section .hero-content {
    border-bottom: 1px solid #696969;
    width: 100%;
    height: 310px;
}
.hero-section .hero-content .hero-content-img {
    width: 100%;
    height: 155px;
}
.hero-section .hero-content .hero-content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-section .hero-content .hero-content-body {
    padding: 10px 10px 5px 10px;
    width: 100%;
    padding-bottom: 20px;
}
.hero-section .hero-content .hero-content-body:hover .content-title {
    color: blue;
    transition: 0.2s linear;
}
.hero-section .hero-content .content-title {
    font-size: 17px;
    font-weight: 600;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    margin-bottom: 10px;
}
.hero-section .hero-content .content-subtitle {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    font-size: 15px;
}
.hero-sidebar {
    border: 2px solid #fd6930;
    margin-bottom: 13px;
}
.hero-sidebar .hero-sidebar-heading h1 {
    color: black;
    font-size: 20px;
    background: red;
    padding: 6px 0px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
.hero-sidebar .sidebar-body {
    padding: 0px 17px 5px;
    height: 518px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.hero-sidebar .sidebar-body .sidebar-news {
    height: 80px;
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
}
.hero-sidebar .sidebar-body .sidebar-news .sidebar-img {
    width: 80px;
    height: 100%;
}
.hero-sidebar .sidebar-body .sidebar-news .sidebar-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-sidebar .sidebar-body .sidebar-news .sidebar-title {
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.hero-sidebar .sidebar-body .sidebar-news .sidebar-title h2 {
    font-size: 17px;
    line-height: 22px;
    font-weight: 600;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
/*category section start*/
.category-section {
    background: url("../img/catagory-bg.png") center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    margin: 70px 0px;
}
.category-section a {
    color: black;
}
.category-section .category-title h1 {
    color: black;
    font-weight: 700;
    text-align: center;
    padding: 10px 0px 20px 0px;
}
.category-section .cat-sidebar {
    border: 2px solid red;
}
.category-section .cat-sidebar .cat-sidebar-title h1 {
    color: black;
    font-size: 26px;
    background: red;
    padding: 6px 0px 7px 0px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.category-section .cat-sidebar .cat-sidebar-body {
    scrollbar-width: none;
}
.category-section .cat-sidebar .cat-sidebar-body {
    width: 100%;
    padding: 4px 20px 0px 20px;
    height: 622px;
    overflow-y: scroll;
}
.category-section .cat-sidebar .cat-sidebar-body .cat-sidebar-news {
    display: flex;
    flex-direction: row;
    height: 83px;
    margin-bottom: 20px;
}
.category-section
    .cat-sidebar
    .cat-sidebar-body
    .cat-sidebar-news
    .cat-sideber-img {
    width: 40%;
    height: 100%;
}
.category-section
    .cat-sidebar
    .cat-sidebar-body
    .cat-sidebar-news
    .cat-sideber-img
    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.category-section
    .cat-sidebar
    .cat-sidebar-body
    .cat-sidebar-news
    .cat-sideber-heading:hover {
    color: blue;
    transition: 0.2s linear;
}
.category-section
    .cat-sidebar
    .cat-sidebar-body
    .cat-sidebar-news
    .cat-sideber-heading {
    flex: 1;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.category-section
    .cat-sidebar
    .cat-sidebar-body
    .cat-sidebar-news
    .cat-sideber-heading
    h2 {
    font-size: 17px;
    font-weight: 600;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    line-height: 22px;
}
.category-section .category-content {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.category-section .category-content .category-content-img {
    width: 100%;
    height: 186px;
}
.category-section .category-content .category-content-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.category-section .category-content .category-body {
    padding: 15px 10px 10px;
}
.category-section .category-content .category-body:hover .category-title {
    color: blue;
    transition: 0.2s linear;
}
.category-section .category-content .category-body .category-title {
    font-size: 17px;
    font-weight: 500;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
.category-section .category-content .category-body .category-subtitle {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    font-size: 15px;
    padding-top: 7px;
}
/*category section end*/
